.record-root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.record-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.record-back-button {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5px;
}
.record-title {
  font-size: 1.2em;
  letter-spacing: 0.1em;
}
.record-controls-options {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.record-file-button {
  padding: 10px 30px 10px 30px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #1976d2;
  border-radius: 8px;
  color: #ffffff;
  border: none;
}
.record-file-button:hover {
  background-color: #0069d2;
}

.record-btn {
  border: 1px solid #ccc;
  background-color: #e70049;
  color: #ffffff;
  display: inline-block;
  padding: 9px 12px;
  cursor: pointer;
}
