/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@font-face {
  font-family: 'Inter-Regular';
  src: url('../../assets/Fonts/Inter-Regular.ttf') format('truetype');
}
* {
  font-family: 'Inter-Regular';
}
body {
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
}
